@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.8rem;
  font-weight: 600;
}
h5 {
  color: #1d1d1d;
}
h6 {
  color: #d8d8d8;
}
button {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #3a3833;
}
hr {
  width: 50px;
  height: 5px;
  background: coral;
  border: none;
}
.star i {
  font-size: 0.8rem;
  color: goldenrod;
}
.star {
  padding: 10px 0;
}
/* NAVIGATION */

.navbar {
  font-size: 16px;
  background-color: #fff;
  top: 0;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.collapse .navbar-nav .nav-link {
  padding: 0 20px;
  font-weight: 550;
  color: black;
  transition: 0.3s ease-in-out;
}
.collapse .navbar-nav a:hover {
  color: coral;
}
.collapse .navbar-nav a:hover,
.collapse .navbar-nav a .active {
  color: rgb(234, 99, 32);
}
.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}
#bar {
  transition: 0.3s ease;
  color: black;
}
#bar:hover {
  color: #fff;
}

/* ....MOBILE-NAV.... */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}
@media screen and (max-width: 991px) {
  #navbarSupportedContent ul li {
    margin: 1rem;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 50px;
  }
}

/* HERO SECTION */

#home {
  background-image: url("assests/back.jpg");
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
  background-size: cover;
  background-position: top 60px center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#home span {
  color: rgb(223, 44, 44);
}

/* IMAGE-SECTION */
#new {
  width: 100%;
  height: 100%;
}
#new h2 {
  font-size: 25px;
  font-weight: 700;
}
#new .one .detail {
  padding: 1rem 0;
  text-align: center;
}

/* PRODUCTS */

.product {
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img {
  transition: 0.3s all;
}
.product:hover img {
  opacity: 0.7;
}
.product .buy-button {
  background: rgb(237, 106, 59);
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover .buy-button {
  transform: translateY(0);
  opacity: 1;
}

/* BANNER */

#banner {
  background-image: url("assests/banner/3.jpg");
  width: 100%;
  height: 60vh;
  /* object-fit: cover; */
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#banner h4 {
  color: rgb(235, 16, 16);
  font-weight: 600;
}
#banner button {
  background-color: rgb(246, 109, 59);
}

/* FOOTTER SECTION */

footer {
  background-color: #222222;
}
footer h2 {
  color: #fff;
  font-weight: 700;
  font: 1.2rem;
}
footer h5 {
  color: #fff;
}
footer li {
  padding-bottom: 4px;
}
footer li a {
  font-size: 0.8rem;
  color: #999;
  padding: 2rem 0;
}
footer li a:hover {
  color: #d8d8d8;
}
footer p {
  color: #999;
  font-size: 0.8rem;
}
.footer-one {
  text-align: center;
  align-items: center;
}
#watches .product img {
  height: 500px;
}
/* BLOG */

#blog-container .post:hover img {
  transition: 0.3 ease-in-out;
  transform: scale(1);
  opacity: 0.8;
  cursor: pointer;
}
#blog-container .post:hover h4 {
  color: coral;
}
#blog-container .banner3-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 20px;
}

/* CART */

#cart-container {
  overflow-x: auto;
}

#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}
#cart-container table thead {
  font-weight: 700;
}
#cart-container table thead td {
  background-color: coral;
  color: white;
  border: none;
  padding: 6px 0;
}
#cart-container table td {
  border: 1px solid #b6b3b3;
  text-align: center;
}
#cart-container table td:nth-child(1) {
  width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
  width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
  width: 170px;
}
#cart-container table tbody img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

#cart-bottom .coupon > div,
#cart-bottom .total > div {
  border: 1px solid #b6b3b3;
}
#cart-bottom .coupon h5,
#cart-bottom .total h5 {
  background-color: coral;
  color: #fff;
  border: none;
  padding: 6px 0;
  font-weight: 700;
}
#cart-bottom .coupon p,
#cart-bottom .coupon input {
  padding: 0 12px;
}
#cart-bottom .coupon input {
  height: 44px;
}
#cart-bottom .coupon input,
#cart-bottom .coupon button {
  margin: 0 0 3px 4px;
}
#cart-bottom .total div > div {
  padding: 0 12px;
}
#cart-bottom .total h6 {
  color: #1d1d1d;
}
.second-hr {
  background: rgb(104, 102, 102);
  width: 100%;
  height: 1px;
}
#cart-bottom .coupon h5 {
  padding: 4px 10px;
}
#cart-bottom .total h5 {
  padding: 4px 10px;
}
#cart-bottom .total button {
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}
